@page "/Cuenta"
@model Obligatorio2.Pages.CuentaModel
@{
    ViewData["Title"] = "Cuenta";
}

<div class="container">
    <form method="post" asp-page="/Logout">
        <button type="submit" class="btn btn-danger btn">Cerrar sesión</button>
    </form>
</div>

